.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-body {
  align-items: start;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  margin: 30px;
}

.App-link {
  color: #61dafb;
}

button {
  font-size: calc(10px + 2vmin);
}
